* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 33, 33);
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

h2 {
    color: #d6d4d4;
    padding-top: 25px;
    border-bottom: 2px solid black;
}

textarea {
    resize: none;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: -2px 3px 44px -8px rgba(255, 255, 255, 1);

}

p {
    padding-top: 20px;
}

.contador {
    color: #d6d4d4;
    font-size: 1.5rem;
    border-bottom: 2px solid black;
}