* {
    margin: 0;
    box-sizing: border-box;
}


.cajas {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;


}

p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100vh;
    border: 1px solid rgb(114, 111, 111);


}

#negro,
#verde,
#azul {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

#negro {
    background-color: rgb(36, 33, 33);
}

#verde {
    background-color: rgb(80, 202, 80);
}

#azul {
    background-color: rgb(73, 73, 207);
}

.cajas.activoNegro {
    background-color: rgb(36, 33, 33);

}

.cajas.activoVerde {
    background-color: rgb(80, 202, 80);
}

.cajas.activoAzul {
    background-color: rgb(73, 73, 207);
}

button {
    border: 1px solid #fff;
    box-shadow: -2px 3px 44px -8px rgba(255, 255, 255, 1);
    border-radius: 10px;
}